body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.img {
  width: 100%;
  height: auto;
}
.main-navigation {
  font-size: 14px;
  font-weight: 700;
}

.site-navigation,
.main-navigation {
  list-style: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:focus {
  color: #766357;
}
.main-navigation a:active {
  color: #cacaca;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #766357;
}
.site-navigation a:active {
  color: #cacaca;
}

.desk-page {
  background-image: url(../img/bg.jpg);
}

.advanteger-1,
.form-req-1 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.advanteger-2,
.form-req-2 {
  text-align: center;
  color: #333333;
}

.form-wrap {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.form-title,
.form-button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.form-button {
  text-align: center;
}

.form-title {
  display: block;
  width: 568px;
  margin: 0 auto;
  color: #ffffff;
  padding: 30px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  background: #766357;
}

.search {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  width: 568px;
  padding: 57px 55px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 26px;
  text-align: left;
  font-weight: bold;
  background: #ffffff;
  z-index: 1;
}

.stroke-date {
  float: right;
  line-height: 26px;
  padding: 4px 15px 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background: #f2f2f2;
}

.stroke-date:hover {
  background: #ebebeb;
}

.stroke-date:focus {
  background: #ffffff;
  outline: 2px solid #e5e5e5;
}

.stroke-date {
  width: 346px;
  padding-right: 37px;
}
.date-label {
  line-height: 40px;
}
.search-label {
  line-height: 40px;
  width: 50%;
}
.calendar {
  position: absolute;
  right: 6px;
  bottom: 0;
  font-size: 21px;
}

.adults,
.kids {
  display: flex;
  width: 50%;
}
.kids label {
  text-align: center;
}

.button-add,
.button-off {
  display: flex;
  height: 39px;
  width: 115px;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.form-stroke {
  display: flex;
  justify-content: space-between;
}

.result-title {
  font-weight: 700;
  margin: 0 auto;
}

.button-0 {
  padding: 0;
  margin: 0;
  border-width: 0;
  border: none;
  width: 38px;
}

.input {
}

.form-button {
  display: block;
  width: 458px;
  margin: 0 auto;
  margin-top: 54px;
  padding: 14px 10px 15px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  outline: none;
}

.button-more,
.form-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.button-more:hover,
.form-button:hover {
  background-color: #669ec0;
}

.button-more:active,
.form-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-book {
  background-color: #766357;
  color: #ffffff;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #857871;
}

.social-button ul {
  list-style: none;
}

.social-button {
  width: 46px;
  height: 46px;
  display: block;
  position: relative;
  background-color: #81b3d2;
}

.social-button img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container ul {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}

/*сетка*/
.site-navigation {
  margin: 0;
  padding: 0 72px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.nav-list {
  width: 25%;
}

.nav-list:nth-child(3),
.nav-list:nth-child(4) {
  text-align: right;
}

.nav-list a {
  padding: 14px 0;
  display: block;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #fff;
}

.main-navigation-wrapper,
.container-site {
  display: flex;
  justify-content: space-between;
}

.desk-page {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.form-rows {
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  padding-left: 132px;
  padding-right: 101px;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  width: 150px;
}

.vizitsedona {
  font-size: 21px;
  font-weight: 700;
}

.footer-copyright {
  width: 200px;
  margin: 0;
}

.footer-copyright b {
  font-weight: 300;
  font-size: 14px;
}

.footer-copyright img {
  vertical-align: middle;
  margin-left: 2px;
}

.inner-container,
.result-amara,
.result-desert,
.result-villas {
  display: flex;
  justify-content: space-between;
}

.hotel-raiting {
  margin-left: auto;
}

.raiting {
  background: #f2f2f2;
}
.search-results {
  width: 100%;
  padding: 0;
  margin: 0;
}

.result-amara,
.result-desert,
.result-villas {
  padding-top: 50px;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.hotel-descripton {
  margin-left: 30px;
}

.button-more,
.button-book {
  display: inline-block;
  padding: 3px 16px;
  margin-right: 6px;
  vertical-align: top;
  font-weight: 500;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: space-between;
}

.result-amara {
  border-top: 5px solid #f0f0f0;
}

.hotel-price1 {
  padding-left: 40px;
}

.hotel-price2 {
  padding-left: 65px;
}

.hotel-price3 {
  padding-left: 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.minus,
.plus {
  border: 0;
  font-size: 1em;
  color: #747474;
  background-color: #f2f2f2;
}
