body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
 }

.site-navigation,
.main-navigation {
  list-style: none;
 }

.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:focus {
  color: #766357;
}
.main-navigation a:active {
  color: #cacaca;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #766357;
}
.site-navigation a:active {
  color: #cacaca;
}

.desk-page {
  background-image: url(../img/bg.jpg);
}

.advanteger-1,
.form-req-1 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.advanteger-2,
.form-req-2 {
  text-align: center;
  color: #333333;
}

.serch {
  text-align: center;
  height: 482px;
  width: 572px;
}

.form-title,
.form-button {
  font-size: 21px;	
  font-weight: 700;
  text-align: center;
 }

 .form-title {
 	background-color: #766357;
 }

.form-rows {
  font-weight: 700;
}

.main-footer {
  background-color: #fdfdfd;
}

.result-title {
  font-weight: 700;
}

.button-more,
.form-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.button-more:hover,
.form-button:hover {
  background-color: #669ec0;
}

.button-more:active,
.form-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-book {
  background-color: #766357;
  color: #ffffff 
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #857871;
}

.social-button ul {
  list-style: none;
}

.social-button {
  text-align: center;
  background-color: #81b3d2;
}

.container ul{
	list-style: none;
}

.visually-hidden {
	visibility: hidden;
}

/*сетка*/
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}
.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.main-header{
	margin: 0;
	padding: 0;
	width: 1200px;
	display: flex;
}

.nav-list,
.main-header-logo {
	margin-right: 120px;
	margin-left: 10px;
}
.main-header-logo {
  display: flex;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper,
.container-site {
  display: flex;
  justify-content: space-between;
}

.desk-page {
  align-items: center;
}

.form-title {
color: #ffffff;
margin-left: 320px;
margin-right: 320px;
}

.form-rows {
	margin-left: 310px;
}

.main-footer {
	display: flex;
	padding: 35px, 0;
	justify-content: space-between;
}

.vizitsedona,
.footer-social,
.footer-copyright {
	display: flex;
	justify-content: space-between;
	width: 210px;
}

.vizitsedona {
  width: 320px;
  margin: 0;
  margin-right: 80px;

}

.footer-social {
  width: 145px;
  min-height: 100px;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
}

.main-footer,
.footer-container {
  display: flex;
}

.inner-container,
.result-amara,
.result-desert,
.result-villas {
	display: flex;
	justify-content: space-between;
}

.hotel-raiting {
	width: 300px;
	margin-left: 200px;
}

.result-amara,
.result-desert,
.result-villas {

  margin-left: o;
  margin-top: 50px;
  margin-top: 5px solid f000000;
}

.hotel-descripton {
	margin-left: 30px;
}
.result-amara,{
  border-top: 5px solid f000000;
}












